---
title: 'Blogssss'
layout: 'base.njk'
---

<div class="section container">
  <h1 class="section-title">Recent articles</h1>
  <ul role="list" class="articles__list flow">
    {%- for post in collections.post | reverse -%}
      <li>
        {% include 'articleComponent.njk' %}
      </li>
    {% endfor %}
  </ul>
</div>